@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


@font-face {
  font-family: Avenir;
  src: url("/static/AvenirLTStd-Black.otf");
}

.logo{
  width: 45px;
  margin: 0px;
}

*{
  font-family: 'Montserrat Alternates', sans-serif;
}

.indexlogo{
  width: 45px;
}



a {
  text-decoration: none;
  color: inherit; }

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all .2s ease; }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #26baa9;
    width: 56px;
    height: 56px;
    transition: all .3s ease; }
  .cta span {
    font-family: Avenir, sans-serif !important;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle; }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease; }
  .cta:hover:before {
    width: 100%;
    background: #2cc9b6; }
  .cta:hover svg {
    transform: translateX(0); }
  .cta:active {
    transform: scale(0.96); }




.card{
  width: 450px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}

.post_content{
  text-align: center;
  margin: 10px;
  background: #d4d4d4;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.post_info{
  layout: inline;
  text-align: left;
  color: #575757;
}

.post_info i{
  font-size: 50px;
  cursor: pointer;
}


.post_author{
  float: right;
  color: #000 !important;
}