@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


body{
  background-color: black;
}

.logo{
  width: 45px;
  margin: 10px;
}

*{
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

.indexlogo{
  width: 45px;
}