<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Backslash</title>
	<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<img class="logo" src="/static/backslashlogo.svg" alt="">
  


  <center>
  <strong><h1>Feed</h1></strong>
    {% for post in feed %}
    <p><b>{{post.author}}</b>: {{ markfunc(post.content)|safe }}</p>
    {% endfor %}

  <a href="#" class="cta">
  <span>Make a post</span>
  <svg width="13px" height="10px" viewBox="0 0 13 10">
    <path d="M1,5 L11,5"></path>
    <polyline points="8 1 12 5 8 9"></polyline>
  </svg>
    </a>
  </center>
  <script src="/static/script.js"></script>
</body>
</html>