
<!DOCTYPE HTML>
<html>
	<head>
		<title>Backslash</title>
      <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
    <link rel="stylesheet" href="static/home.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
				<span class="indexlogo"><img class="header-logo" src="static/Whiteandblue.png" alt="Backslash Logo"></span>
				<h1>Social media for developers</h1>
				<p>That's Backslash. We're helping developers connect and collaborate</a>
				<br />
				<a href="/login">Login with Replit</a></p>
			</div>

		<!-- Main -->
			<div id="main">

				<header class="major container medium">
					<h2>You have no digital
					<br />
					footprint here,
					<br />
          we don't track you
					</h2>
					<!--
					<p>Tellus erat mauris ipsum fermentum<br />
					etiam vivamus nunc nibh morbi.</p>
					-->
				</header>

				<div class="box alt container">
					<section class="feature left">
						<a href="#" class="image icon solid fa-lock"><img src="static/images/pic01.jpg" alt="" /></a>
						<div class="content">
							<h3>Secure</h3>
							<p>Your posts are very secure in our database. We ensure you that nobody has access to your personal information. If you are concerned about your privacy contact us at <a href="mailto:support@backslash.am4.uk">support@backslash.am4.uk</a>.</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon solid fa-code"><img src="static/images/pic02.jpg" alt="" /></a>
						<div class="content">
							<h3>Reliable</h3>
							<p>All posts are immediatly saved in our database after they are posted, which NEVER loses data. Unlike other social media, we don't track your activity or have any sneaky trackers. You leave no footprint on this website, guaranteed.</p>
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image icon solid fa-mobile-alt"><img src="static/images/pic03.jpg" alt="" /></a>
						<div class="content">
							<h3>Simple</h3>
							<p>Our website is extremely easy to use and supported on multiple platforms. Just login with Replit and you're good to go, you can start creating, liking, and replying to posts! It's really easy and simple to use.</p>
						</div>
					</section>
        </div>

				<footer class="major container medium">
					<h3>Get started now</h3>
					<ul class="actions special">
						<li><a href="/login" class="button">Login with Replit</a></li>
					</ul>
				</footer>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container medium">
					<header class="major last">
						<h2>Questions or comments?</h2>
					</header>

					<p>You can contact us via this form or email us at <a href="mailto:support@backslash.am4.uk">support@backslash.am4.uk</a>. We reply quickly and are always happy to help!</p>

					<form method="POST" action="https://formsubmit.co/support@backslash.am4.uk">
						<div class="row">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" placeholder="Name" required />
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="email" name="email" placeholder="Email" required/>
							</div>
							<div class="col-12">
								<input type="text" name="message" placeholder="Message" rows="6" required></input>
							</div>
							<div class="col-12">
								<ul class="actions special">
									<li><input type="submit" value="Send Message" required /></li>
								</ul>
							</div>
						</div>
            <input type="hidden" name="_next" value="https://backslash.am4.uk/#SUCCESS_YOUR_MESSAGE_HAS_BEEN_DELIVERED">
            <input type="hidden" name="_template" value="table">
					</form>
					<ul class="icons">
						<li><a href="https://github.com/Vivaan-S/Backslash" class="icon brands fa-github" target="__blank"><span class="label">Github</span></a></li>
					</ul>
          </div>

					<ul class="copyright">
            <li>We're open-source</li>
						<li>Made with ♥ by Vivaan and Jeremiah</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</div>
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>